Pompeyo/SitioWeb/Connected Services/PompeyoWCFServiceReference/PompeyoWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SimpleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleDTO" nillable="true" type="tns:SimpleDTO" />
  <xs:complexType name="ArrayOfSimpleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleDTO" nillable="true" type="tns:SimpleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSimpleDTO" nillable="true" type="tns:ArrayOfSimpleDTO" />
  <xs:complexType name="ModeloDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMarca" type="xs:int" />
      <xs:element minOccurs="0" name="idModelo" type="xs:int" />
      <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloDTO" nillable="true" type="tns:ModeloDTO" />
  <xs:complexType name="ArrayOfModeloDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeloDTO" nillable="true" type="tns:ModeloDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeloDTO" nillable="true" type="tns:ArrayOfModeloDTO" />
  <xs:complexType name="ClienteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="giro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rut" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteDTO" nillable="true" type="tns:ClienteDTO" />
  <xs:complexType name="ArrayOfClienteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteDTO" nillable="true" type="tns:ClienteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteDTO" nillable="true" type="tns:ArrayOfClienteDTO" />
  <xs:complexType name="UsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDTO" nillable="true" type="tns:UsuarioDTO" />
  <xs:complexType name="VentaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCompra" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      <xs:element minOccurs="0" name="idModelo" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="idVenta" type="xs:int" />
      <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="monto" type="xs:int" />
      <xs:element minOccurs="0" name="rut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VentaDTO" nillable="true" type="tns:VentaDTO" />
  <xs:complexType name="ArrayOfVentaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VentaDTO" nillable="true" type="tns:VentaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVentaDTO" nillable="true" type="tns:ArrayOfVentaDTO" />
</xs:schema>