Pompeyo/SitioWeb/Connected Services/PompeyoWCFServiceReference/PompeyoWCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58502/PompeyoWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="crearMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="crearMarcaResult" nillable="true" type="q1:SimpleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarMarcas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarMarcasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="listarMarcasResult" nillable="true" type="q2:ArrayOfSimpleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="marca" nillable="true" type="q3:SimpleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarMarcaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMarca" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="crearModeloResult" nillable="true" type="q4:ModeloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarModelos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarModelosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="listarModelosResult" nillable="true" type="q5:ArrayOfModeloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="buscarModeloResult" nillable="true" type="q6:ModeloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarModelosDTO">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarModelosDTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="listarModelosDTOResult" nillable="true" type="q7:ArrayOfModeloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarModelosDTOCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarModelosDTOComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="listarModelosDTOComboResult" nillable="true" type="q8:ArrayOfModeloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="dto" nillable="true" type="q9:ModeloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarModeloResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rut" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="giro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="crearClienteResult" nillable="true" type="q10:ClienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="listarClientesResult" nillable="true" type="q11:ArrayOfClienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="buscarClienteResult" nillable="true" type="q12:ClienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarClientesDTO">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarClientesDTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="listarClientesDTOResult" nillable="true" type="q13:ArrayOfClienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarClientesDTOCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarClientesDTOComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="listarClientesDTOComboResult" nillable="true" type="q14:ArrayOfClienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="dto" nillable="true" type="q15:ClienteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="loginResult" nillable="true" type="q16:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModelo" type="xs:int" />
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        <xs:element minOccurs="0" name="monto" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="crearVentaResult" nillable="true" type="q17:VentaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarVentas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="listarVentasResult" nillable="true" type="q18:ArrayOfVentaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="buscarVentaResult" nillable="true" type="q19:VentaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarVentasDTO">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarVentasDTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="listarVentasDTOResult" nillable="true" type="q20:ArrayOfVentaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="dto" nillable="true" type="q21:VentaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarVentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>